@import url(//db.onlinewebfonts.com/c/4a0c1d6164df2c0aa88da1437cd38ef1?family=Copyright+Klim+Type+Foundry);

@font-face {font-family: "Copyright Klim Type Foundry"; src: url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.eot"); src: url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.woff") format("woff"), url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.svg#Copyright Klim Type Foundry") format("svg"); }

*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.topbar{
    width: 100%;
    height: 60px;
    background-color: #212121;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    letter-spacing: 4px;
    position: sticky;
    z-index: 10000;
    
}

.topbardark{
    background-color: #212121;
    color: #fff;  
}



#night{
    float: right;
    display: block;
}
#day{
    float: right;
    display: none;
}


.text{
    width: 100%;
    
}

.textarea{
    width: 100vw;
    height:100vh;
    resize: none;
    padding: .5rem .5rem;
    line-height: 1.8rem;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    overflow-y: visible;
    border: none;
    font-family: 'Calibre Web', sans-serif;
}

.dark{
    
    background-color: #121212;
    color: #fff;
   
}